---
import Layout from "@/layouts/Layout.astro";
import BlogGrid from "@/components/blog/BlogGrid.astro";
import { getAllBlogPosts } from "@/services/blog";

const posts = await getAllBlogPosts('es');
---

<Layout title="Blog" description="Últimas publicaciones de @vladiantio">
  <h1 class="text-primary text-3xl mb-3">Últimas publicaciones</h1>
  <BlogGrid posts={posts} />
</Layout>