---
import Logo from "@/assets/logo.svg"
---

<div style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; background-image: radial-gradient(circle 150vh at 50% 100%, #276aa5, #0b3860); color: #fff; font-size: 48px;">
  <Logo width="224" height="224" />
  <div style="display: flex; margin-top: 48px;"><strong>vladiantio</strong>.com</div>
</div>
