@reference './global.css';

.rich-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative;
  }

  /* Headers */
  h1,
  h2 {
    @apply text-primary mt-10 mb-8 scroll-mt-10 text-2xl font-bold;
  }

  h3 {
    @apply mt-10 mb-8 scroll-mt-10 text-xl font-semibold;
  }

  h4 {
    @apply mt-8 mb-6 scroll-mt-8 text-lg font-medium;
  }

  a.link-heading {
    display: none;
  }

  @media (pointer: fine) and (width >= 54rem) {
    a.link-heading {
      @apply absolute inset-y-0 left-0 flex size-8 items-center justify-center rounded-full [color:inherit];
      @apply -translate-x-4/5 opacity-0 transition-[opacity,translate] delay-300 will-change-transform;

      h1 > & > svg,
      h2 > & > svg {
        @apply size-6;
      }

      h3 > & > svg {
        @apply size-5;
      }

      h4 > & > svg {
        @apply size-4;
      }

      &:focus-visible,
      [id]:hover > & {
        @apply -translate-x-full opacity-100 delay-[0ms];
      }
    }
  }

  /* Horizontal rules */
  hr {
    @apply my-8;
  }

  p {
    margin-block: 1em;
    margin-block: 1lh;
  }

  del {
    @apply line-through;
  }

  blockquote {
    @apply mb-8 border-l-4 py-2 pl-4;
  }

  ul {
    @apply mb-8 list-disc pl-4;
  }

  ol {
    @apply mb-8 list-decimal pl-4;
  }

  li {
    @apply mb-2;

    & > ul {
      @apply mb-2 list-disc pl-4;
    }

    & > ol {
      @apply mb-2 list-decimal pl-4;
    }
  }

  figure {
    @apply bg-primary/10 mb-8 flex flex-col items-start gap-y-2 rounded-2xl border p-2;

    figcaption {
      @apply bg-background dark:bg-body/10 rounded-lg border px-4 py-1 text-center text-sm shadow-xs;
    }

    pre {
      @apply bg-background w-full rounded-lg border px-4 py-3 whitespace-pre-wrap;
    }
  }

  :not(pre) > code {
    @apply bg-primary/10 rounded-lg px-1.5 py-0.5 whitespace-nowrap;
  }

  table {
    @apply my-8 w-full border-collapse;
  }

  th {
    @apply border-b px-4 py-2 text-left font-semibold;
  }

  td {
    @apply border-b px-4 py-2;
  }

  /* Images */
  img {
    @apply my-8 w-full rounded-3xl bg-white/40 dark:bg-black/40;
  }

  pre[data-theme*=" "],
  pre[data-theme*=" "] span {
    @apply text-(--shiki-light);
  }

  .dark & {
    pre[data-theme*=" "],
    pre[data-theme*=" "] span {
      @apply text-(--shiki-dark);
    }
  }
}
