@reference './global.css';

.rich-text {
  h1, h2, h3, h4, h5, h6 {
    @apply relative;
  }

  /* Headers */
  h1, h2 {
    @apply text-2xl text-primary font-bold mt-10 mb-8 scroll-mt-10;
  }

  h3 {
    @apply text-xl font-semibold mt-10 mb-8 scroll-mt-10;
  }

  h4 {
    @apply text-lg font-medium mt-8 mb-6 scroll-mt-8;
  }

  a.link-heading {
    display: none;
  }

  @media (pointer: fine) and (width >= 54rem) {
    a.link-heading {
      @apply absolute inset-y-0 left-0 flex items-center justify-center size-8 rounded-full [color:inherit];
      @apply -translate-x-4/5 opacity-0 transition-[opacity,translate] will-change-transform delay-300;
  
      h1 > & > svg,
      h2 > & > svg {
        @apply size-6;
      }
  
      h3 > & > svg {
        @apply size-5;
      }
  
      h4 > & > svg {
        @apply size-4;
      }
  
      &:focus-visible,
      [id]:hover > & {
        @apply -translate-x-full opacity-100 delay-[0ms];
      }
    }
  }

  /* Horizontal rules */
  hr {
    @apply my-8;
  }

  p {
    margin-block: 1em;
    margin-block: 1lh;
  }

  del {
    @apply line-through;
  }

  blockquote {
    @apply border-l-4 pl-4 py-2 mb-8;
  }

  ul {
    @apply list-disc pl-4 mb-8;
  }

  ol {
    @apply list-decimal pl-4 mb-8;
  }

  li {
    @apply mb-2;

    & > ul {
      @apply list-disc pl-4 mb-2;
    }

    & > ol {
      @apply list-decimal pl-4 mb-2;
    }
  }

  figure {
    @apply bg-primary/10 border rounded-2xl shadow-sm flex flex-col items-start gap-y-2 mb-8 p-2;

    figcaption {
      @apply bg-background dark:bg-body/10 border rounded-lg shadow-xs text-sm px-4 py-1 text-center;
    }

    pre {
      @apply bg-background border rounded-lg px-4 py-3 whitespace-pre-wrap w-full;
    }
  }

  :not(pre) > code {
    @apply rounded-lg bg-primary/10 px-1.5 py-0.5 whitespace-nowrap;
  }

  table {
    @apply w-full border-collapse my-8;
  }

  th {
    @apply text-left py-2 px-4 font-semibold border-b;
  }

  td {
    @apply py-2 px-4 border-b;
  }

  /* Images */
  img {
    @apply w-full rounded-3xl my-8 bg-white/40 dark:bg-black/40;
  }

  pre[data-theme*=" "],
  pre[data-theme*=" "] span {
    @apply text-(--shiki-light);
  }

  .dark & {
    pre[data-theme*=" "],
    pre[data-theme*=" "] span {
      @apply text-(--shiki-dark);
    }
  }
}
