@import 'root.css';
@import 'fonts.css';

@tailwind base;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: oklch(var(--color-background));
  color: oklch(var(--color-foreground));
  min-height: 100dvh;
  height: auto;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  color: oklch(var(--color-primary));
}

p {
  text-wrap: pretty;
}

@tailwind components;

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;

  .dropdown-end & {
    inset-inline-end: 0;
  }
}

@tailwind utilities;

.link {
  color: oklch(var(--color-body));
  font-weight: 500;
  border-bottom-width: 2px;
  border-color: oklch(var(--color-muted));
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  outline: 0;

  &:hover, &:focus {
    border-bottom-width: 4px;
    border-color: oklch(var(--color-primary));
  }
}

.bg-gradient-primary {
  background-image: linear-gradient(
    to right,
    oklch(from var(--color-hex) 75% c h),
    oklch(from var(--color-hex) 50% c h)
  );
}

.text-bg {
  background-clip: text;
  color: transparent;
}

html.dark {
  body.bg-noise {
    position: relative;

    &:after {
      background-image: url(/img/noise.webp);
      background-repeat: repeat;
      position: absolute;
      pointer-events: none;
      inset: 0;
      content: '';
    }
  }

  .bg-gradient-primary {
    background-image: linear-gradient(
      to right,
      oklch(from var(--color-hex) 95% c h),
      oklch(from var(--color-hex) 60% c h)
    );
  }
}
