@import 'root.css';
@import 'fonts.css';

@tailwind base;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: oklch(var(--color-background));
  color: oklch(var(--color-foreground));
  position: relative;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2;
}

h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  line-height: 2;
}

a {
  color: oklch(var(--color-primary));
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover {
    color: oklch(var(--color-body));
  }

  &.icon {
    color: oklch(var(--color-body));
    &:hover {
      color: oklch(var(--color-primary));
    }
  }
}

p {
  line-height: 2;
  text-wrap: pretty;
}

hr {
  border-color: oklch(var(--color-soft));
}

@tailwind components;

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;

  .dropdown-end & {
    inset-inline-end: 0;
  }
}

@tailwind utilities;

.wrapper {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.link {
  color: oklch(var(--color-body));
  border-bottom-width: 2px;
  border-color: oklch(var(--color-muted));
  text-decoration: none !important;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  outline: 0;

  &:hover, &:focus {
    border-bottom-width: 4px;
    border-color: oklch(var(--color-primary));
  }
}

a.external:after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIwLjc1ZW0iIGhlaWdodD0iMC43NWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik03IDdoMTB2MTAiLz48cGF0aCBkPSJNNyAxNyAxNyA3Ii8+PC9zdmc+');
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  margin-left: 0.125em;
  height: 1em;
  width: 0.75em;
}

.bg-color-wheel {
  background-image: conic-gradient(
    hsl(360 100% 50%),
    hsl(315 100% 50%),
    hsl(270 100% 50%),
    hsl(225 100% 50%),
    hsl(180 100% 50%),
    hsl(135 100% 50%),
    hsl(90 100% 50%),
    hsl(45 100% 50%),
    hsl(0 100% 50%)
  );
}

.bg-gradient-primary {
  background-image: linear-gradient(
    to right,
    oklch(from var(--color-hex) 72% c h),
    oklch(from var(--color-hex) 52% c h)
  );
}

.text-bg {
  background-clip: text;
  color: transparent;
}

html.dark {
  .bg-gradient-primary {
    background-image: linear-gradient(
      to right,
      oklch(from var(--color-hex) 96% c h),
      oklch(from var(--color-hex) 76% c h)
    );
  }

  a.external:after {
    filter: invert();
  }
}
