@import 'tailwindcss';
@import './root.css';
@import './theme.css';
@import './fonts.css';

@layer base {
  html {
    @apply motion-safe:scroll-smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: oklch(var(--background));
    color: oklch(var(--foreground));
    position: relative;
  }

  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  body::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: oklch(var(--primary));
    border-radius: 3px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: oklch(var(--primary-hover));
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: oklch(var(--primary)) transparent;
      scrollbar-width: thin;
    }
  }

  h1, h2, h3, h4 {
    text-wrap: balance;
  }

  h1, h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  h3, h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  a {
    color: oklch(var(--primary));
    @apply motion-safe:transition-[background,color,scale];

    &:hover {
      color: oklch(var(--primary-hover));
    }

    &.icon {
      color: oklch(var(--body));
      &:hover {
        color: oklch(var(--primary));
        scale: 1.1;
      }
    }
  }

  p {
    line-height: 1.875;
    text-wrap: pretty;
  }

  hr {
    border-color: oklch(var(--soft));
  }

  [role=button], button {
    cursor: pointer;
  }

  :disabled {
    cursor: default
  }
}

@layer components {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;

    .dropdown-end & {
      inset-inline-end: 0;
    }
  }
}


@utility wrapper {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

@utility external {
  @variant after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIwLjc1ZW0iIGhlaWdodD0iMC43NWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik03IDdoMTB2MTAiLz48cGF0aCBkPSJNNyAxNyAxNyA3Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-left: 0.125em;
    height: 1em;
    width: 0.75em;
  }

  @variant dark {
    @variant after {
      filter: invert();
    }
  }
}

@utility bg-color-wheel {
  background-image: conic-gradient(
    hsl(360 100% 50%),
    hsl(315 100% 50%),
    hsl(270 100% 50%),
    hsl(225 100% 50%),
    hsl(180 100% 50%),
    hsl(135 100% 50%),
    hsl(90 100% 50%),
    hsl(45 100% 50%),
    hsl(0 100% 50%)
  );
}

@utility main-gradient-light {
  background-image: linear-gradient(
    to right,
    oklch(from var(--main-color) 72% c h),
    oklch(from var(--main-color) 52% c h)
  );
}

@utility main-gradient-dark {
  background-image: linear-gradient(
    to right,
    oklch(from var(--main-color) 96% c h),
    oklch(from var(--main-color) 76% c h)
  );
}
