/* Default styles */
.link-preview {
  --lp-width: 30rem;
  --lp-pad-x: 0.75rem;
  --lp-pad-y: 1rem;
  --lp-corners: 1rem;
  --lp-title-lines: 2;
  --lp-desc-lines: 1;

  position: relative;
  max-width: var(--lp-width);
  display: flex;
  flex-direction: column-reverse;
  border-radius: var(--lp-corners);
  border: 1px solid oklch(var(--body) / 0.1);

  * {
    line-height: 1.2;
    margin: 0 !important;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  &:not(.link-preview__content--has-video) a::after {
    content: '';
    position: absolute;
    inset: 0;
  }
  img,
  video {
    aspect-ratio: 1200 / 630;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--lp-corners) var(--lp-corners) 0 0 !important;
  }
}

.link-preview__content {
  display: flex;
  flex-direction: column;
  padding: var(--lp-pad-y) var(--lp-pad-x);
  border-top: 1px solid oklch(var(--body) / 0.1);
}

.link-preview__title {
  display: -webkit-box;
  -webkit-line-clamp: var(--lp-title-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-preview__domain {
  color: oklch(var(--muted));
}

.link-preview__description {
  display: -webkit-box;
  -webkit-line-clamp: var(--lp-desc-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
