:root {
  --font-sans: 'Figtree Variable';

  --color-hex: #3fa0fa;

  --color-body: 0% 0 0;
  --color-background: from var(--color-hex) 98% calc(c * 0.12) h;
  --color-soft: from var(--color-hex) 92% calc(c * 0.16) h;
  --color-foreground: from var(--color-hex) 15% calc(c * 0.16) h;
  --color-muted: from var(--color-hex) 62% calc(c * 0.16) h;
  --color-primary-light: from var(--color-hex) 88% c h;
  --color-primary-dark: from var(--color-hex) 62% c h;
  --color-primary: var(--color-primary-dark);
}

html.dark {
  --color-body: 100% 0 0;
  --color-background: from var(--color-hex) 20% calc(c * 0.142) h;
  --color-soft: from var(--color-hex) 30% calc(c * 0.16) h;
  --color-foreground: from var(--color-hex) 98% calc(c * 0.02) h;
  --color-muted: from var(--color-hex) 88% calc(c * 0.16) h;
  --color-primary: var(--color-primary-light);
}