.snowflakes {
  --sf-size: 1rem;
  --sf-box-height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--sf-box-height);
  overflow: hidden;
  mask-image: linear-gradient(black, transparent);
  z-index: 1;
}

.snowflake {
  position: absolute;
  left: var(--sf-left-offset);
  top: calc(-2 * var(--sf-size));
  width: var(--sf-size);
  height: var(--sf-size);
  animation: var(--sf-float-duration) ease-in var(--sf-float-delay) infinite sf-float-down;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: oklch(var(--primary));
    filter: drop-shadow(0 0 0.25rem #fff);
    animation:
      var(--sf-sway-duration) ease-in-out var(--sf-sway-delay) infinite alternate var(--sf-sway-type),
      var(--sf-sway-duration) ease-in-out var(--sf-sway-delay) infinite alternate sf-wiggle;

    .dark & {
      color: #fff;
    }
  }
}

@keyframes sf-float-down {
  to {
    translate: var(--sf-gravity) calc(var(--sf-box-height) + 2 * var(--sf-size));
  }
}

@keyframes sf-sway-left-to-right {
  from {
    translate: 0;
  }

  to {
    translate: 4rem;
  }
}

@keyframes sf-sway-right-to-left {
  from {
    translate: 0;
  }

  to {
    translate: -4rem;
  }
}

@keyframes sf-wiggle {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 180deg;
  }
}
