@variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --main-color: #3fa0fa;

  --background: oklch(from var(--main-color) 0.98 calc(c * 0.12) h);
  --foreground: oklch(from var(--main-color) 0.15 calc(c * 0.16) h);
  --muted: oklch(from var(--main-color) 0.62 calc(c * 0.16) h);
  --body: oklch(0 0 0);
  --soft: oklch(from var(--main-color) 0.92 calc(c * 0.16) h);
  --primary-dark: oklch(from var(--main-color) 0.76 calc(c * 0.85) h);
  --primary-dark-hover: oklch(from var(--main-color) 0.92 calc(c * 0.85) h);
  --primary-light: oklch(from var(--main-color) 0.56 calc(c * 0.85) h);
  --primary-light-hover: oklch(from var(--main-color) 0.4 calc(c * 0.85) h);
  --primary: var(--primary-light);
  --primary-hover: var(--primary-light-hover);

  --main-container-width: 54rem;
}

[data-theme="dark"] {
  --background: oklch(from var(--main-color) 0.2 calc(c * 0.142) h);
  --foreground: oklch(from var(--main-color) 0.98 calc(c * 0.02) h);
  --muted: oklch(from var(--main-color) 0.88 calc(c * 0.16) h);
  --body: oklch(1 0 0);
  --soft: oklch(from var(--main-color) 0.3 calc(c * 0.16) h);
  --primary: var(--primary-dark);
  --primary-hover: var(--primary-dark-hover);
  color-scheme: dark;
}

@theme inline {
  --font-sans:
    "Figtree Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Inconsolata Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-body: var(--body);
  --color-soft: var(--soft);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --drop-shadow-primary-xs: 0 0 1px
    color-mix(in oklab, var(--primary) 20%, transparent);
  --drop-shadow-primary-sm: 0 0 2px
    color-mix(in oklab, var(--primary) 60%, transparent);
  --drop-shadow-primary-md: 0 0 3px
    color-mix(in oklab, var(--primary) 60%, transparent);
  --drop-shadow-primary-lg: 0 0 4px
    color-mix(in oklab, var(--primary) 60%, transparent);
  --drop-shadow-primary-xl: 0 0 7px
    color-mix(in oklab, var(--primary) 60%, transparent);
  --drop-shadow-primary-2xl: 0 0 25px
    color-mix(in oklab, var(--primary) 60%, transparent);

  --shadow-center-xs: 0 0 2px 0 rgb(0 0 0 / 0.05);
  --shadow-center-sm: 0 0 3px 0 rgb(0 0 0 / 0.1), 0 0 2px -1px rgb(0 0 0 / 0.1);
  --shadow-center-md:
    0 0 6px -1px rgb(0 0 0 / 0.1), 0 0 4px -2px rgb(0 0 0 / 0.1);
  --shadow-center-lg:
    0 0 15px -3px rgb(0 0 0 / 0.1), 0 0 6px -4px rgb(0 0 0 / 0.1);
  --shadow-center-xl:
    0 0 25px -5px rgb(0 0 0 / 0.1), 0 0 10px -6px rgb(0 0 0 / 0.1);
  --shadow-center-2xl: 0 0 50px -12px rgb(0 0 0 / 0.25);
  --shadow-neon-xs:
    0 0 2px 0 rgb(0 0 0 / 0.05), inset 0 0 1px 0 rgb(0 0 0 / 0.05);
  --shadow-neon-sm:
    0 0 3px 0 rgb(0 0 0 / 0.1), 0 0 2px -1px rgb(0 0 0 / 0.1),
    inset 0 0 2px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-md:
    0 0 6px -1px rgb(0 0 0 / 0.1), 0 0 4px -2px rgb(0 0 0 / 0.1),
    inset 0 0 3px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-lg:
    0 0 15px -3px rgb(0 0 0 / 0.1), 0 0 6px -4px rgb(0 0 0 / 0.1),
    inset 0 0 8px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-xl:
    0 0 25px -5px rgb(0 0 0 / 0.1), 0 0 10px -6px rgb(0 0 0 / 0.1),
    inset 0 0 13px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-2xl:
    0 0 50px -12px rgb(0 0 0 / 0.25), inset 0 0 25px 0 rgb(0 0 0 / 0.25);

  --text-base: 18px;
  --text-xs: calc(0.75 * var(--text-base));
  --text-sm: calc(0.875 * var(--text-base));
  --text-lg: calc(1.125 * var(--text-base));
  --text-xl: calc(1.25 * var(--text-base));
  --text-2xl: calc(1.5 * var(--text-base));
  --text-3xl: calc(1.875 * var(--text-base));
  --text-4xl: calc(2.25 * var(--text-base));
  --text-5xl: calc(3 * var(--text-base));
  --text-6xl: calc(3.75 * var(--text-base));
  --text-7xl: calc(4.5 * var(--text-base));
  --text-8xl: calc(6 * var(--text-base));
  --text-9xl: calc(8 * var(--text-base));
}
