@variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans: 'Figtree Variable', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: 'Inconsolata Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-body: oklch(var(--body));
  --color-background: oklch(var(--background));
  --color-soft: oklch(var(--soft));
  --color-foreground: oklch(var(--foreground));
  --color-muted: oklch(var(--muted));
  --color-primary: oklch(var(--primary));
  --color-primary-hover: oklch(var(--primary-hover));
  --color-primary-dark: oklch(var(--primary-dark));
  --color-primary-light: oklch(var(--primary-light));

  --drop-shadow-primary-xs: 0 0 1px oklch(var(--primary) / 0.2);
  --drop-shadow-primary-sm: 0 0 2px oklch(var(--primary) / 0.6);
  --drop-shadow-primary-md: 0 0 3px oklch(var(--primary) / 0.6);
  --drop-shadow-primary-lg: 0 0 4px oklch(var(--primary) / 0.6);
  --drop-shadow-primary-xl: 0 0 7px oklch(var(--primary) / 0.6);
  --drop-shadow-primary-2xl: 0 0 25px oklch(var(--primary) / 0.6);

  --shadow-center-xs: 0 0 2px 0 rgb(0 0 0 / 0.05);
  --shadow-center-sm: 0 0 3px 0 rgb(0 0 0 / 0.1), 0 0 2px -1px rgb(0 0 0 / 0.1);
  --shadow-center-md: 0 0 6px -1px rgb(0 0 0 / 0.1), 0 0 4px -2px rgb(0 0 0 / 0.1);
  --shadow-center-lg: 0 0 15px -3px rgb(0 0 0 / 0.1), 0 0 6px -4px rgb(0 0 0 / 0.1);
  --shadow-center-xl: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 0 10px -6px rgb(0 0 0 / 0.1);
  --shadow-center-2xl: 0 0 50px -12px rgb(0 0 0 / 0.25);
  --shadow-neon-xs: 0 0 2px 0 rgb(0 0 0 / 0.05), inset 0 0 1px 0 rgb(0 0 0 / 0.05);
  --shadow-neon-sm: 0 0 3px 0 rgb(0 0 0 / 0.1), 0 0 2px -1px rgb(0 0 0 / 0.1), inset 0 0 2px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-md: 0 0 6px -1px rgb(0 0 0 / 0.1), 0 0 4px -2px rgb(0 0 0 / 0.1), inset 0 0 3px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-lg: 0 0 15px -3px rgb(0 0 0 / 0.1), 0 0 6px -4px rgb(0 0 0 / 0.1), inset 0 0 8px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-xl: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 0 10px -6px rgb(0 0 0 / 0.1), inset 0 0 13px 0 rgb(0 0 0 / 0.1);
  --shadow-neon-2xl: 0 0 50px -12px rgb(0 0 0 / 0.25), inset 0 0 25px 0 rgb(0 0 0 / 0.25);

  --text-base: 18px;
  --text-xs: calc(0.75 * var(--text-base));
  --text-sm: calc(0.875 * var(--text-base));
  --text-lg: calc(1.125 * var(--text-base));
  --text-xl: calc(1.25 * var(--text-base));
  --text-2xl: calc(1.5 * var(--text-base));
  --text-3xl: calc(1.875 * var(--text-base));
  --text-4xl: calc(2.25 * var(--text-base));
  --text-5xl: calc(3 * var(--text-base));
  --text-6xl: calc(3.75 * var(--text-base));
  --text-7xl: calc(4.5 * var(--text-base));
  --text-8xl: calc(6 * var(--text-base));
  --text-9xl: calc(8 * var(--text-base));
}
