---
import { basics } from '~/resume.json'
import ExternalLink from '../ExternalLink.astro'
import { FileText } from 'lucide-preact'
import SocialLinks from '../SocialLinks.astro'
---
<section>
  <p>Bienvenid@, soy</p>
  <h1 class="mt-2">Vladimir Antonio Figueroa Carvajal</h1>
  <p class="font-bold text-2xl mb-2"><span class="bg-gradient-primary text-bg">@{basics.name}</span></p>
  <p>{basics.summary}</p>
  <div class="flex gap-8 mt-4">
    <ExternalLink href="/CV-2024.pdf" class="transition hover:text-primary font-bold inline-flex items-center gap-1" title="Curriculum Vitae"><FileText class="size-6" /> CV</ExternalLink>
    <SocialLinks />
  </div>
</section>