---
import BlogGrid from "~/components/blog/BlogGrid.astro";
import { getAllBlogPosts } from "~/services/blog";

const posts = await getAllBlogPosts('es');
posts.map(a => a)
---
{posts && posts.length > 0 && (
  <section>
    <h2 class="text-primary">Publicaciones</h2>
    <BlogGrid posts={posts} />
  </section>
)}