---
import BlogGrid from "~/components/blog/BlogGrid.astro";
import { getAllBlogPosts } from "~/services/blog";

const posts = await getAllBlogPosts('es');
posts.map(a => a)
---
{posts && posts.length > 0 && (
  <section class="my-8">
    <h2>Publicaciones</h2>
    <BlogGrid posts={posts} />
  </section>
)}