---
import { skills } from '~/resume.json'
import SkillIcon from '../SkillIcon.astro'
---
<section class="my-8">
  <h2>Habilidades</h2>
  
  {skills.map(item => (
    <div class="mb-5">
      <h3 class="mb-2">{item.name}</h3>
      <div class="flex flex-wrap items-center gap-3">
        {item.keywords.map(keyword => (
          <span class="p-0 rounded-xl overflow-hidden bg-body/5" title={keyword}>
            <span class="sr-only">{keyword}</span>
            <SkillIcon class="size-12" name={keyword} />
          </span>
        ))}
      </div>
    </div>
  ))}
</section>