<div aria-hidden="true"></div>
<style>
  div {
    position: absolute;
    inset: 0;
    z-index: -50;
    background-image: radial-gradient(
      circle 100dvh at 50% 10rem,
      oklch(from var(--main-color) 50% c h / 0.25),
      transparent
    );
  }
</style>
