<div aria-hidden="true"></div>
<style>
  div {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    z-index: -50;
    height: 100dvh;
    background-image: radial-gradient(
      125% 125% at 50% 10%,
      transparent 40%,
      oklch(from var(--main-color) 50% c h / 0.33) 100%
    );
  }
</style>
