<div aria-hidden="true"></div>
<svg style="content-visibility:hidden;display:none" aria-hidden="true">
  <filter id="noise">
    <feTurbulence
      baseFrequency="0.75"
      numOctaves="4"
      type="turbulence"
      result="fe1"></feTurbulence>
    <feColorMatrix type="saturate" values="0" in="fe1"></feColorMatrix>
  </filter>
</svg>
<style>
  div {
    position: absolute;
    inset: 0;
    z-index: -50;
    filter: url(#noise);
    mix-blend-mode: overlay;
  }
</style>
