---
import Layout from '~/layouts/Layout.astro';
import MoveLeft from 'lucide-solid/icons/move-left';
---

<Layout title="P치gina no encontrada">
  <div class="h-full place-content-center">
    <span class="text-9xl font-light leading-tight">:(</span>
    <h1 class="text-5xl font-light my-4">No se encontr칩 la p치gina que buscabas.</h1>
    <p class="my-4">C칩digo: 404 Not Found</p>
    <p class="my-8"><a href="/"><MoveLeft class="size-4 inline mr-2" />Volver al inicio</a></p>
  </div>
</Layout>
