---
import { DEFAULT_LOCALE } from "@/i18n/constants";
import { useTranslations } from "@/i18n/helpers";
import Redirection from "@/i18n/Redirection.astro";
import SimpleLayout from "@/layouts/SimpleLayout.astro";

const t = useTranslations(DEFAULT_LOCALE);
---

<SimpleLayout title="Blog" description={t('blog.latestPosts')} noAnalytics>
  <Fragment slot="before-head">
    <Redirection />
  </Fragment>
  <h1>Redirecting ⌛</h1>
</SimpleLayout>
