---
import { DEFAULT_LOCALE, LOCALES } from "~/i18n/constants";
import SimpleLayout from "~/layouts/SimpleLayout.astro";

const langs = Object.keys(LOCALES);
const baseUrl = import.meta.env.PROD ? Astro.site : "/";
---

<SimpleLayout loadGTM={false}>
  <Fragment slot="before-head">
    <noscript>
      <meta http-equiv="refresh" content={`0;url=${baseUrl + DEFAULT_LOCALE}/`} />
    </noscript>

    <script is:inline define:vars={{ langs, defaultLocale: DEFAULT_LOCALE }}>
      if (localStorage.selectedLang && langs.includes(localStorage.selectedLang)) {
        location.href = '/' + localStorage.selectedLang + '/';
      } else {
        const browserLang = navigator.language.toLowerCase();

        if (langs.includes(browserLang)) {
          location.href = '/' + browserLang + '/';
        } else if (langs.includes(browserLang.split("-")[0])) {
          location.href = '/' + browserLang.split("-")[0] + '/';
        } else {
          location.href = '/' + defaultLocale + '/';
        }
      }
    </script>
  </Fragment>
  <h1>Redirecting ⌛</h1>
</SimpleLayout>
