---
import Redirection from "@/i18n/Redirection.astro";
import SimpleLayout from "@/layouts/SimpleLayout.astro";
---

<SimpleLayout title="Links" description="@vladiantio network links" loadGTM={false}>
  <Fragment slot="before-head">
    <Redirection />
  </Fragment>
  <h1>Redirecting ⌛</h1>
</SimpleLayout>
