<div class="fixed-bg parallax-bg"></div>
<style type="postcss">
  .fixed-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -20;
    height: 100%;
    width: 100%;
  }
  .parallax-bg {
    background-image: linear-gradient(to right, hsla(var(--color-primary), 0.15) 1px,transparent 1px), linear-gradient(to bottom, hsla(var(--color-primary), 0.15) 1px,transparent 1px);
    background-size: 48px 48px;
    background-position: 50% 0;
  }
</style>
<script>
  const parallaxElement = document.querySelector<HTMLElement>('.parallax-bg');
  window.addEventListener("scroll", () => {
    if (parallaxElement) {
      const scrollPosition = window.scrollY;
      const speed = 0.1; // adjust this value to control the parallax speed
      const yPos = Math.round(scrollPosition * -speed);
      parallaxElement.style.backgroundPosition = `50% ${yPos}px`;
    }
  });
</script>