---
import Languages from '@lucide/astro/icons/languages';
import { DEFAULT_LOCALE, LOCALES, type Locale } from '@/i18n/constants';
import { useTranslations } from '@/i18n/helpers';
const locale = Astro.currentLocale as Locale ?? DEFAULT_LOCALE;
const t = useTranslations(locale);
---

<details class="dropdown dropdown-end">
  <summary
    tabindex="0"
    role="button"
    title={t('language')}
    aria-label={t('language')}
    class="inline-block align-middle select-none navbar-link-icon"
  >
    <Languages class="size-5" />
  </summary>
  <div tabindex="0" class="dropdown-content border border-body/10 bg-background rounded-xl z-10 p-1 shadow-sm -me-2 mt-4 flex flex-col gap-1">
    {
      Object.keys(LOCALES).map(lang => (
        <button
          type="button"
          data-lang={lang}
          class={`btnChangeLocale rounded-lg px-3 py-1 transition ${lang === locale ? 'bg-primary/10 text-primary' : ''} hover:bg-primary/10 hover:text-primary`}
        >{LOCALES[lang as Locale].label}</button>
      ))
    }
  </div>
</details>

<script>
  document.addEventListener("click", ev => {
    const el = ev.target as HTMLElement;
    if (el.classList.contains('btnChangeLocale') && el.dataset.lang) {
      const { lang } = el.dataset;
      localStorage.selectedLang = lang;
      const path = location.pathname.match(/^\/[a-zA-Z-]+\/(\S*)/)?.[1] ?? '';
      location.replace('/' + lang + '/' + path);
    }
  });
</script>
