---
import ThemeSelector from "./client/ThemeSelector";
---

<nav class="sticky top-0 inset-x-0 w-full max-w-screen-md mx-auto z-10 p-3 transition-all" id="mainNavbar">
  <div class="flex items-center justify-between gap-4">
    <div class="p-2 rounded-full bg-background border border-soft shadow">
      <a class="rounded-full overflow-hidden" href="/" title="@vladiantio">
        <span class="sr-only">@vladiantio</span>
        <img alt="Logo" src="/favicon.svg" class="size-10" loading="lazy" width="40" height="40" />
      </a>
    </div>
    <div class="p-2 rounded-full bg-background border border-soft shadow">
      <ThemeSelector client:load />
    </div>
  </div>
</nav>

<script>
  let prevScrollY = window.scrollY;
  function handleScroll() {
    const navbar = document.getElementById('mainNavbar');
    const hideClassList = ['-translate-y-full'];
    const { offsetHeight } = navbar!;
    const { scrollY } = window;
    const isActive = scrollY > offsetHeight;
    const isScrollDown = scrollY > prevScrollY;
    if (isActive && isScrollDown) {
      navbar!.classList.add(...hideClassList);
    } else {
      navbar!.classList.remove(...hideClassList);
    }
    prevScrollY = scrollY;
  }
  window.addEventListener('scroll', handleScroll);
</script>