---
import NotebookPen from "@lucide/astro/icons/notebook-pen";
import Layout from "@/layouts/Layout.astro";
import BlogGrid from "@/components/blog/BlogGrid.astro";
import type { Locale } from "@/i18n/constants";
import { localeParams, useTranslations } from "@/i18n/helpers";
import { getAllBlogPosts } from "@/services/blog";

const locale = Astro.currentLocale as Locale | undefined;
const t = useTranslations(locale);
const posts = await getAllBlogPosts(locale);

export const getStaticPaths = () => localeParams;
---

<Layout title="Blog" description={t("blog.latestPosts")}>
  <h1 class="flex items-center text-2xl mb-8">
    <NotebookPen class="text-primary drop-shadow-primary-xl mr-3" />{
      t("blog.latestPosts")
    }
  </h1>
  <BlogGrid posts={posts} />
</Layout>
