---
import Mail from "@lucide/astro/icons/mail";
import basics from "@/data/basics";
import avatar from "@/assets/avatar.jpg";
import ExternalLink from "@/components/ExternalLink.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import type { Locale } from "@/i18n/constants";
import { translate } from "@/i18n/helpers";
import { Picture } from "astro:assets";

interface Props {
  hideLinks?: boolean;
}

const { hideLinks } = Astro.props;
const locale = Astro.currentLocale as Locale | undefined;
---

<section class="pt-12">
  <div class="grid sm:grid-cols-[8rem_1fr] sm:items-center gap-x-12">
    <div class="relative flex justify-center">
      {
        ["avatar-blurred", "avatar-shadow"].map((className) => (
          <Picture
            alt="Profile photo"
            class={"avatar " + className}
            src={avatar}
            formats={["avif"]}
            width="256"
            height="256"
          />
        ))
      }
    </div>
    <div class="my-8 max-sm:text-center">
      <h1 class="mb-2">{basics.name}</h1>
      <p class="font-semibold mb-4">
        <span class="bg-primary/10 text-primary py-1 px-3 rounded-full"
          >@{basics.username}</span
        >
      </p>
      <p>{translate(basics.summary, locale)}</p>
    </div>
  </div>
  {
    !hideLinks && (
      <div class="flex flex-wrap gap-8 sm:ml-44 max-sm:justify-center">
        <ExternalLink
          class="icon"
          href={`mailto:${translate(basics.email, locale)}`}
          title={translate(basics.email, locale) ?? ""}
        >
          <Mail class="size-6" />
        </ExternalLink>
        <SocialLinks />
      </div>
    )
  }
</section>

<style>
  @reference '@/styles/global.css';

  .avatar {
    @apply rounded-full size-32;
  }

  .avatar-shadow {
    @apply shadow-center-lg shadow-primary/60 dark:shadow-black/60;
  }

  .avatar-blurred {
    @apply absolute top-4 blur-3xl -z-[1] opacity-60 sm:top-2 sm:left-4;
  }
</style>
