---
import { basics } from '~/resume.json'
import ExternalLink from '~/components/ExternalLink.astro'
import FileText from 'lucide-solid/icons/file-text'
import SocialLinks from '~/components/SocialLinks.astro'
import { removeExtension } from '~/utils/files'

interface Props {
  hideLinks?: boolean
}

const { hideLinks } = Astro.props;
---
<section class="mb-8">
  <div class="grid sm:grid-cols-[8rem,1fr] sm:items-center gap-x-4">
    <div class="relative flex justify-center">
      {['avatar-blurred', 'avatar-shadow'].map(className => (
        <picture>
          <source srcset={removeExtension(basics.image) + '.avif'} type="image/avif" />
          <img
            alt="Profile photo"
            class={'avatar ' + className}
            loading="eager"
            src={basics.image}
            width="64"
            height="64"
          />
        </picture>
      ))}
    </div>
    <div class="my-4 max-sm:text-center">
      <h1>{basics.name}</h1>
      <p class="font-semibold mb-1"><span class="bg-primary/10 text-primary py-1 px-3 rounded-full">@{basics.username}</span></p>
      <p>{basics.summary}</p>
    </div>
  </div>
  {!hideLinks && (
    <div class="flex flex-wrap gap-8 sm:ml-36 max-sm:justify-center">
      <ExternalLink class="icon font-bold inline-flex items-center gap-1" href="/CV.pdf" title="Curriculum Vitae"><FileText class="size-6 mr-1" />CV</ExternalLink>
      <SocialLinks />
    </div>
  )}
</section>

<style>
  .avatar {
    @apply rounded-full w-full max-w-32 aspect-square;
  }

  .avatar-shadow {
    @apply shadow-center-lg shadow-primary/60 dark:shadow-black/60;
  }

  .avatar-blurred {
    @apply absolute top-4 blur-3xl -z-[1] opacity-60 sm:top-2 sm:left-4;
  }
</style>
