---
import type { PostEntry } from "@/types/Post";
import BlogGridItem from "./BlogGridItem.astro";

interface Props {
  posts: PostEntry[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-6">
  {
    posts && posts.length > 0
      ? posts.map((post) => <BlogGridItem post={post} />)
      : "No posts founds"
  }
</div>