---
import type { PostEntry } from "@/types/Post";
import BlogGridItem from "./BlogGridItem.astro";

interface Props {
  posts: PostEntry[];
}

const { posts } = Astro.props;
const sortedPosts = posts.toSorted((a, b) => b.id.localeCompare(a.id));
---

<div class="grid grid-cols-1 gap-6">
  {
    sortedPosts && sortedPosts.length > 0
      ? sortedPosts.map((post) => <BlogGridItem post={post} />)
      : "No posts founds"
  }
</div>