---
import Footer from '~/components/Footer.astro';
import Main from '~/components/Main.astro';
import Navbar from '~/components/Navbar.astro';
import '~/styles/global.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<script>
			import { loadColorTheme, loadColorScheme } from "~/utils/theme";
			loadColorScheme();
			loadColorTheme();

			document.addEventListener('click', ({ target }) => {
				const details = [...document.querySelectorAll('details.dropdown')];
				if (!details.some(f => f.contains(target as Node))) {
					details.forEach(f => f.removeAttribute('open'));
				} else {
					details.forEach(f => !f.contains(target as Node) ? f.removeAttribute('open') : '');
				}
			});
		</script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#09f" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<Main>
			<slot />
		</Main>
		<Footer />
	</body>
</html>