---
import BaseHead, { type Props as BaseHeadProps } from '@/components/BaseHead.astro';
import '@/styles/global.css';

interface Props extends BaseHeadProps {
	class?: string;
}

const { class: className, ...head } = Astro.props;
---

<!doctype html>
<html lang={head.lang ?? 'es'}>
	<head>
		<BaseHead {...head} />
	</head>
	<body class={className}>
		<slot />
	</body>
</html>