---
import BaseHead, {
  type Props as BaseHeadProps,
} from "@/components/BaseHead.astro";
import { DEFAULT_LOCALE } from "@/i18n/constants";
import "@/styles/global.css";

type Props = BaseHeadProps;

const locale = Astro.currentLocale;
const head = Astro.props;
---

<!doctype html>
<html lang={locale ?? DEFAULT_LOCALE}>
  <head>
    <slot name="before-head" />
    <BaseHead {...head} />
    <slot name="after-head" />
  </head>
  <body>
    <slot />
  </body>
</html>
